<%= render "layouts/logo_section" %>

<div class="row mt-3">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(url: login_path,scope: :session) do |f| %>
      
      <div class="mb-3">
        <%= f.label :email, "email" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      
      <div class="mb-3">
        <%= f.label :password, "password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      
      <div class="text-center mb-3">
        <%= f.submit "ログイン", class: "btn btn-outline-warning w-50" %>
      </div>
    <% end %>
    
    <div class="text-center">
      <%= link_to "新規登録はこちら",signup_path %>
    </div>
    
  </div>
</div>
