<% if users.any? %>
  <div class="container">
    <ul class="list-unstyled">
      <% users.each do |user| %>
        <li class="card bg-light mb-3 mx-auto">
          <div class="card-body">
            <div class="card-top">
              <h5 class="card-title"><%= user.name %></h5>
              <% unless current_user == user %>
                <div id="follow_buttons_<%= user.id %>">
                  <%= render "relationships/follow_button",user: user %>
                </div>
              <% end %>
            </div>
            <div>
              <a href="<%= user_path(user) %>" class="card-link">投稿 <%= user.posts.count %>件</a>
              <a href="<%= followings_user_path(user) %>" class="card-link">フォロー <%= user.followings.count %>人</a>
              <a href="<%= followers_user_path(user) %>" class="card-link">フォロワー <%= user.followers.count %>人</a>
            </div>
          </div>    
        </li>      
      <% end %>
    </ul>
    <%= paginate users %>
  </div>
<% end %>