<% if logged_in? %>
  <%= render "toppages/posts_follow",posts: @posts %>
  <%= paginate @posts %>
<% else %>
  <div class="my-4 p-3 img-container">
    <%= image_tag "IMG-0761.JPG",class: "d-block mx-auto img-fluid img-shadow w-50",alt: "猫の画像" %>
  </div>

  <div class="text-center mb-3">
    <p>ペットの写真を投稿するサイトです</p>
  </div>

  <div class="text-center">
    <%= link_to "新規登録", signup_path, class: "btn btn-outline-warning" %>
    <%= link_to "ログイン", login_path, class: "btn btn-outline-warning" %>
  </div>

<% end %>

 