<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with model: @post do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      
      <div class="mb-3">
        <%= f.label :img, "画像" %>
        <%= f.file_field :img,class: "form-control" %>
      </div>
      
      <div class="mb-3">
        <%= f.label :content, "コメント" %>
        <%= f.text_area :content,class: "form-control" %>
      </div>
      
      <div class="text-center">
        <%= f.submit "投稿",class: "btn btn-outline-warning w-50" %>
      </div>
      
    <% end %>
  </div>
</div>
